[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
nose = "*"
pylint = "*"
pdoc3 = "*"
pydoc = "*"

[packages]
duolingo-api = "*"
googletrans = "*"
hyper = "*"
nose = "*"

[requires]
python_version = "3.7"
